@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&family=Playfair+Display:wght@400;500&display=swap');
@import url("https://use.typekit.net/ofu8gcr.css");
/*
font-family: 'Arimo', sans-serif;
font-family: 'Playfair Display', serif;

font-family: linotype-didot-headline, serif;
font-weight: 400;
font-style: normal;

font-family: linotype-didot, serif;
font-weight: 700;
font-style: italic;
*/

html {
    box-sizing: border-box;
  }
  
body {
    font-family: 'Arimo', sans-serif;
  }

.wrapp {
    padding-left: 10%;
    padding-right: 10%;
}

a {
    text-decoration: none;
    color: rgb(53, 53, 53)!important;
    cursor:pointer;
    font-weight: 600;
  }

a:hover {
    color: rgb(14, 14, 14)!important;
     text-decoration:none; 
     cursor:pointer;  
}

/* FIRST NAV */

.site-header {
background-color: rgb(228, 226, 226);
}

.small-link {
    font-size: small;
}
.py-2 {
    margin-left: 5%;
}

/* SITE LOGO */

.main-logo img {
    padding-right: 0%;
    padding-left: 0%;
    }
    
/* MAIN NAV */
    
.navbar-light {
    border-top: 2px solid rgb(19, 19, 19);
    border-bottom: 2px solid rgb(19, 19, 19);
}

/* SEARCH BAR */

#custom-search-form {
    margin:0;
    margin-top: 0px;
    padding: 0;
}

#custom-search-form .search-query {
    padding-right: 0px;
    padding-left: 3px;
    margin-bottom: 0;
}

#custom-search-form button {
    border: 0;
    background: none;
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    margin-bottom: 0;
}

.search-query:focus + button {
    z-index: 3;   
}

/* FOOTER */

.footer_area {
	padding:60px 0 20px;
	position: relative;
	color: #fff;
	background: rgb(228, 226, 226);
    word-wrap: break-word;
}

.single_ftr form{
	margin-top: 8px;
}
.single_ftr p{
	margin-bottom: 10px;
}

.newsletter_form .form-control {
    height: 50px;
    line-height: 50px;
    margin: 0;
    padding: 8px 20px;
    width: 100%;
	position: relative;
	background: transparent;
	color: #fff;
	border-radius: 0;
}

.newsletter_form button {
	border: inherit;
	border-radius: 0;
	background: transparent;
	color: #6C757D;
	text-transform: uppercase;
	box-shadow: none;
	border: 1px solid #d6d5d5;
	transition: 0.5s;
	position: relative;
	padding: 12px 17px;
	transition: .5s;
}
.newsletter_form button:hover,
.newsletter_form button:hover{
	background: transparent;
	color: #83A153;
	opacity: .9;
}
.newsletter_form ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #fff;
    opacity: 1
}

.newsletter_form ::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff;
    opacity: 1
}

.newsletter_form :-moz-placeholder {
    /* Firefox 18- */
    color: #fff;
    opacity: 1
}

.single_ftr li {
    padding-bottom: 7px;
    color: #fff;
}
.single_ftr a {
    color: #fff;
}
.single_ftr a:hover {
    color: #83A153;
}

.ftr_social_icon li {
	display: inline-block;
	text-align: center;
	padding: 4px;
}

.ftr_social_icon ul li a {
    border: 1px solid #fff;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 17px;
    height: 40px;
    line-height: 32px;
    padding: 4px 8px;
    width: 40px;
	transition: .5s;
}
.ftr_social_icon ul li a:hover{
	background: #83A153;
	border-color: #83A153;
	color: #fff;
}

.ftr_btm_area {
	background: transparent;
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: 1px dotted #888;
	margin-top: 28px;
	z-index: 100;
	position: relative;
}

ul {
    list-style: none;
}

/* RECIPE STYLE */

.recipe-pic {
    width: 100%;
}

.recipe-headline p {
    font-size: 14px;
    color: #a4a4a4; 
}

.recipe-headline h2 {
    font-family: linotype-didot, serif;
    font-weight: 700;
    font-style: italic;
    font-size: 36px;
    color: rgb(14, 14, 14);
    margin-top: 50px;
    margin-bottom: 20px;
}

.recipe-info {
    background-color:rgb(238, 238, 238);
    text-align: center;
}
.recipe-info h6 {
    font-size: 15px;
    font-weight: 700;
    margin-top: 30px;
 }

.recipe-info p {
    color: #474747;
    margin-bottom: 30px;
}

.description h6 {
    font-family: linotype-didot, serif;
    font-weight: 700;
    font-style: italic;
    font-size: 18px;
    margin: 50px 0px 50px;
    color: #474747;
    text-align: center;
}

.single-preparation-step {
    position: relative;
    z-index: 1;
    margin-bottom: 30px; }

.single-preparation-step h4 {
    color: #474747;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 60px;
    flex: 0 0 60px;
    max-width: 60px;
    width: 60px;
}
          
.ingredients h4 {
    margin-bottom: 30px;
    margin-top: 50px;
}

.instructions h4, .ingredients {
    margin-bottom: 30px;
}

.instructions {
    margin-bottom: 100px;
}

.entry:not(:first-of-type)
{
    margin-top: 10px;
}

.glyphicon
{
    font-size: 12px;
}