appdirs==1.4.4
astroid==2.4.1
autopep8==1.5.2
certifi==2020.4.5.1
click==7.1.2
distlib==0.3.0
dnspython==1.16.0
filelock==3.0.12
Flask==1.1.2
Flask-PyMongo==2.3.0
Flask-WTF==0.14.3
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.2
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
pycodestyle==2.5.0
pylint==2.5.2
pymongo==3.10.1
python-dotenv==0.13.0
six==1.14.0
toml==0.10.0
virtualenv==20.0.21
Werkzeug==1.0.1
wrapt==1.12.1