{% extends 'base.html' %} {% block content %}

<div class="recipe-headline">
    <h2>All Recipes</h2>
</div>

<div class="">
    <div class="row">
        {% for category in categories %}
        <div class="col-sm-6 col-md-3 mx-auto p-3 pt-4 text-center text-uppercase">
            <h6> {{category.category_name}}</h6>
        </div>
        {% endfor %}
    </div>
</div>

<div class="row">
    {% for rec in recipe %}
    <div class="col-lg-4 col-md-6 col-sm-6 col-12 pt-3">
        <div class="product-box">
            <div class="image-wrapper">
                <img src="{{rec.image_url}}">
            </div>
            <div class="item-content">
                <h3 class="item-title"><a href="#">{{rec.title}}</a></h3>
                <p>{{rec.description}}</p>
                <div class="row entry-data">
                    <div class="col-6"><i class="fas fa-clock"></i>{{rec.cooks}}</div>
                    <div class="col-6"><i class="fas fa-user"></i>by Jane</div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}