<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Vegan Minus Gluten</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9237abd782.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <!--- FIRST NAV-->

    <nav class="site-header">
        <div class="container d-flex flex-md-row justify-content-end grey-bg">
            <a class="py-2 small-link" href="{{ url_for('index') }}">HOME</a>
            <a class="py-2 small-link" href="{{ url_for('shop') }}">SHOP</a>
            <a class="py-2 small-link" href="#subscribe">SUBSCRIBE</a>
            <a class="py-2 small-link" href="{{ url_for('login') }}">LOGIN/SIGNUP</a>
        </div>
    </nav>

    <div class="wrapp">

        <!--- BANNER -->

        <div class="main-logo">
            <a href="{{ url_for('index') }}"><img
                    src="https://res.cloudinary.com/www-madine-se/image/upload/v1592952530/vegansite/Screenshot_2020-06-24_at_00.47.43_upejzd.png"
                    class="img-fluid"></a>
        </div>

        <!---MAIN NAV-->

        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('get_all') }}">ALL</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">MAINS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">APPETIZERS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">DESSERTS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">OTHER</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <div class="input-group col-md-4"></div>
                    <input class="form-control border-right-0 border" type="search" value="search"
                        id="example-search-input">
                    <span class="input-group-append">
                        <button class="btn border-left-0 border" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </form>
            </div>

        </nav>

        <!---CONTENT-->

        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </div>

    <!---FOOTER-->

    <footer class="footer_area">
        <div class="container">
            <div class="row">

                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="single_ftr">
                        <ul>
                            <li><a href="{{ url_for('index') }}">HOME</a></li>
                            <li><a href="{{ url_for('get_all') }}">ALL RECIPES</a></li>
                            <li><a href="{{ url_for('submit_recipe') }}">SUBMIT RECIPE</a></li>
                            <li><a href="{{ url_for('shop') }}">SHOP</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="single_ftr content" id="subscribe">
                        <div class="newsletter_form">
                            <a>SIGN UP FOR WEEKLY RECIPE IDEAS</a>
                            <form method="POST" action="{{url_for('sub')}}" class="form-inline">
                                <input type="email" class="form-control" placeholder="Enter your email" name="sub_email"
                                    id="sub_email">
                                <span class="input-group-btn">
                                    <button class="btn" type="submit"><i class="fas fa-check"></i></button>
                                </span>
                            </form>
                            {% with messages = get_flashed_messages() %}
                            {% if messages %}
                            {% for message in messages %}
                            <div class="alert alert-warning alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                        aria-hidden="true">×</span></button>
                                {{message}}
                            </div>
                            {% endfor %}
                            {% endif %}
                            {% endwith %}

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ftr_btm_area">
            <div class="container">
                <div class="ftr_social_icon col align-self-center">
                    <div class="text-center">
                        <ul>
                            <li><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://www.google.com/"><i class="fa fa-google"></i></a></li>
                            <li><a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col align-self-center">
                    <p class="text-center">© 2020. Sabine Madara MS3</p>
                </div>
            </div>
        </div>
    </footer>

    <!---SCRIPTS-->

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.4.2/umd/popper.min.js"></script>

</body>

</html>