{% extends 'base.html' %} {% block content %}

<div class="recipe-headline">
    <h2>{{ page_title }}</h2>
</div>

<form method="POST" action="{{ url_for('update_recipe', recipe_id=the_recipe._id) }}" class="pb-5">
    <div class="form-group">
        <label for="title">Recipe Title</label>
        <input required value="{{the_recipe.title}}" type="text" class="form-control" id="title" name="title"
            aria-describedby="recipe title" maxlength="45">
    </div>

    <div class="form-group">
        <label for="category_name">Category</label>
        <select required name="category_name" id="category_name" class="form-control">
            {% for category in categories %}
            {% if category == the_recipe.category_name %}
            <option value="{{category.category_name}}" selected>{{category.category_name}}</option>
            {% else %}
            <option value="{{category.category_name}}">{{category.category_name}}</option>
            {% endif %}
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label for="description">Description</label>
        <input required value="{{the_recipe.description}}" type="text" class="form-control" id="description"
            name="description" aria-describedby="recipe description" maxlength="130">
        <small class="form-text text-muted">Short, juicy description of the dish</small>
    </div>

    <div class="form-group">
        <label for="image_url">Image Url</label>
        <input required value="{{the_recipe.image_url}}" type="text" class="form-control" name="image_url"
            id="image_url" aria-describedby="recipe description">
        <small class="form-text text-muted">Picture of the dish. Use a valid URL
            - for example - shared picture
            hosted on Google Drive</small>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="form-group">
                <label for="prep">Prep Time</label>
                <input required value="{{the_recipe.prep}}" type="text" class="form-control" id="prep" name="prep"
                    aria-describedby="preparation time" placeholder="X hours X minutes" maxlength="20">
                <small class="form-text text-muted">Example: "15 minutes"</small>
            </div>
        </div>

        <div class="col-sm-12 col-md-6">
            <div class="form-group">
                <label for="cooks">Cooking Time</label>
                <input required value="{{the_recipe.cooks}}" type="" class="form-control" id="cooks" name="cooks"
                    aria-describedby="cooking time" placeholder="X hours X minutes" maxlength="20">
                <small class="form-text text-muted">Example: "1 hour 30 minutes"</small>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="form-group">
                <label for="serves">Amount of Servings</label>
                <select required value="serves" id="serves" name="serves" class="form-control">
                    <option {% if the_recipe.serves == "2" %} selected {% endif %}>2</option>
                    <option {% if the_recipe.serves == "4" %} selected {% endif %}>4</option>
                    <option {% if the_recipe.serves == "6" %} selected {% endif %}>6</option>
                    <option {% if the_recipe.serves == "8" %} selected {% endif %}>8</option>
                    <option {% if the_recipe.serves == "10" %} selected {% endif %}>10</option>
                </select>
            </div>
        </div>

        <div class="col-sm-12 col-md-6">
            <div class="form-group">
                <label for="difficulty">Difficulty</label>
                <select class="form-control" value="difficulty" name="difficulty" id="difficulty">
                    <option {% if the_recipe.difficulty == "Easy" %} selected {% endif %}>Easy</option>
                    <option {% if the_recipe.difficulty == "Medium" %} selected {% endif %}>Medium</option>
                    <option {% if the_recipe.difficulty == "Hard" %} selected {% endif %}>Hard</option>
                </select>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-md-12">
                <label for="ingredients">Ingredients</label>
                <textarea required class="form-control" id="ingredients" name="ingredients" rows="3"
                    placeholder="Each ingredient in it's own line.">{{the_recipe.ingredients}}</textarea>
                <small class="form-text text-muted">Each ingredient in it's own line. No empty lines.</small>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-md-12">
                <label for="instructions">Instructions</label>
                <textarea required class="form-control" id="instructions" name="instructions" rows="3"
                    placeholder="Put each step in a new line.">{{the_recipe.instructions}}</textarea><small
                    class="form-text text-muted">Each step in it's own line. No empty lines.</small>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-md-12">
                <label for="tips">Tips</label>
                <textarea class="form-control" id="tips" name="tips" rows="2"
                    placeholder="Put each tip in a new line.">{{the_recipe.tips}}</textarea>
                <small class="form-text text-muted">Each step in it's own line. No empty lines.</small>
            </div>
        </div>
    </div>

    <div class="form-check">
        <input required type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Yes, I have double checked spelling and grammar. The recipe
            is plant based and gluten-free.</label>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>

</form>

{% endblock %}