{% extends 'base.html' %} {% block content %}



<div class="recipe-headline">
    <h2>{{recipe.title}}</h2>
    <p>Posted: {{recipe.date_added}}</p>
</div>

<!-- Receipe Img -->
<img class="recipe-pic" src="{{recipe.image_url}}" alt="recipe picture">

<!-- Info -->

<div class="description">
    <h6>{{recipe.description}}</h6>
</div>

<div class="recipe-info">
    <div class="row">
        <div class="col-3">
            <h6>PREP TIME: </h6>
            <p>{{recipe.prep}}</p>
        </div>
        <div class="col-3">
            <h6>COOK TIME:</h6>
            <p>{{recipe.cooks}}</p>
        </div>
        <div class="col-3">
            <h6>SERVES:</h6>
            <p>{{recipe.serves}} servings</p>
        </div>
        <div class="col-3">
            <h6>DIFFICULTY:</h6>
            <p>{{recipe.difficulty}}</p>
        </div>
    </div>
</div>


<!-- Ingredients -->

<div class="ingredients">
    <h4>Ingredients</h4>
    <ul>
        <!-- Ingredient -->
        {% for line in recipe.ingredients.splitlines() %}
        <div class="ingredient">
            <li>
                <p>{{line}}</p>
            </li>
        </div>
        {% endfor %}
    </ul>
</div>

<!-- Preparation -->

<div class="row instructions">
    <div class="col-12">
        <h4>Instructions</h4>
        <ul>
            {% for line in recipe.instructions.splitlines() %}
            <!-- Single Preparation Step -->
            <div class="single-preparation-step d-flex">
                <li>
                    <p>{{line}}</p>
                </li>
            </div>
            {% endfor %}
        </ul>

        {% if recipe.tips is defined %}
        <h4>Tips</h4>
        {% for tip in recipe.tips.splitlines() %}
        <p class="font-italic">{{ tip }}</p>
        {% else %}
        {% endfor %}
        {% endif %}

    </div>
</div>
<button class="btn btn-primary"><a href="{{url_for('edit_recipe', recipe_id=recipe._id)}}"> edit</a></button>

</div>



{% endblock %}