{% extends 'base.html' %} {% block content %}

<div class="recipe-headline">
    <h2>{{recipe.title}}</h2>
    <div class="row pl-3">
        <p>Posted by: </p>
        <span>
            <p class="text-capitalize">&nbsp;{{recipe.username}}&nbsp;</p>
        </span>
        <p class="text-lowercase"> at {{recipe.date_added}} in category:
            {{recipe.category_name}}</p>
    </div>

</div>

<!-- Receipe Img -->
<img class="recipe-pic" src="{{recipe.image_url}}" alt="recipe picture">

<!-- Info -->

<div class="description">
    <h6>{{recipe.description}}</h6>
</div>

<div class="recipe-info">
    <div class="row">
        <div class="col-3">
            <h6>PREP TIME: </h6>
            <p>{{recipe.prep}}</p>
        </div>
        <div class="col-3">
            <h6>COOK TIME:</h6>
            <p>{{recipe.cooks}}</p>
        </div>
        <div class="col-3">
            <h6>SERVES:</h6>
            <p>{{recipe.serves}} servings</p>
        </div>
        <div class="col-3">
            <h6>DIFFICULTY:</h6>
            <p>{{recipe.difficulty}}</p>
        </div>
    </div>
</div>


<!-- Ingredients -->

<div class="ingredients">
    <h4>Ingredients</h4>
    <ul>
        <!-- Ingredient -->
        {% for line in recipe.ingredients.splitlines() %}
        <div class="ingredient">
            <li>
                <p>{{line}}</p>
            </li>
        </div>
        {% endfor %}
    </ul>
</div>

<!-- Preparation -->

<div class="row instructions">
    <div class="col-12">
        <h4>Instructions</h4>

        {% for line in recipe.instructions.splitlines() %}
        <!-- Single Preparation Step -->
        <div class="single-preparation-step d-flex">
            <h4><i class="far fa-circle"></i></h4>
            <p>{{line}}</p>
        </div>
        {% endfor %}

        {% if recipe.tips is defined %}
        <h4>Tips</h4>
        {% for tip in recipe.tips.splitlines() %}
        <p class="font-italic">{{ tip }}</p>
        {% else %}
        {% endfor %}
        {% endif %}

    </div>
</div>
{% if user|lower == username|lower or user|lower == "admin"|lower %}
<div class="pb-5">
    <a href="{{url_for('edit_recipe', recipe_id=recipe._id)}}"><button class="btn btn-dark text-uppercase">
            EDIT</button></a>
    <button type="button" class="btn btn-dark text-uppercase" data-toggle="modal" data-target="#delete">
        DELETE</button>
</div>
{% endif %}



<!-- Modal -->
<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="delete_recipe" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered " role="document">
        <div class="modal-content rounded-0">
            <div class="modal-header">
                <h5 class="modal-title">Delete recipe?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this item? This action cannot be undone.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <a href="{{url_for('delete_recipe', recipe_id=recipe._id)}}"><button type="button"
                        class="btn btn-dark">Delete</button></a>
            </div>
        </div>
    </div>
</div>


{% endblock %}