{% extends 'base.html' %} {% block content %}


<div class="recipe-headline d-flex justify-content-center">
    <h2>Shop</h2>
</div>


<div class="row justify-content-center">
    <div class="col-xs-12 col-sm-6 col-md-6 pt-4 pb-5 shop recipe-headline text-center">
        <img src="https://res.cloudinary.com/www-madine-se/image/upload/v1594563548/vegansite/cookbook_dkpywm.jpg"
            alt="cookbook">
        <h2>Cookbook</h1>
            <p>New to veganism and looking for the best plant-based and gluten-free recipes to
                light your
                fire? Look no further.</p>
            <p><u>Available soon.</u></p>
            <a href="#sub_email"><button class="btn btn-dark text-uppercase">
                    subscribe for newsletter</button></a>
    </div>
</div>

{% endblock %}