{% extends 'base.html' %} {% block content %}


<div class="container pt-5">
    <div class="profile_banner pb-3">
        <h2 class="pt-5 pl-5 pb-4 text-capitalize">Hi, {{ username }}!</h1>
    </div>

    <div class="p-5">
        <h2>Your recipes:</h1>
            <div class="row">
                {% for res in recipe %}
                <div class="rec-thumbnail col-xs-6 col-sm-4 col-md-4 col-lg-3">
                    <a href="{{url_for('get_recipe', recipe_id=res._id)}}" title="{{res.title}}">
                        <img src="{{res.image_url}}" alt="{{res.title}} thumbnail">
                        <p class="pt-2">{{res.title}}</p>
                    </a>
                </div>
                {% endfor %}
            </div>
    </div>
</div>

{% endblock %}